<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="angular.js"></script>
	<script src="directives/brick.js"></script>
	<script src="directives/slot.js"></script>
	<script src="constants/colors.js"></script>
	<script src="constants/systemBricks.js"></script>
	<script src="scripts/gridUtils.js"></script>
	<script src="controllers/mainCtrl.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<link rel="stylesheet" type="text/css" href="style/brick.css">
	<link rel="stylesheet" type="text/css" href="style/form.css">


	<link rel="stylesheet" type="text/css" href="semantic/src/semantic.less">
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">



	<title>LeGo!</title>

</head>
<body ng-app="leGo">
	<div ng-controller="MainCtrl">
		<div id="new-brick-form">
			<div id="new-brick-title" class="form-element">
				New Brick!
			</div>
			<div class="form-element">
				Pegs
				<input ng-model="originWidth" ng-init="originWidth = 2" type="number" min="1" max="{{bricksAcross}}">

					<span id="color-picker-label">Color</span>
					<select
						id="color-dropdown"
						name="colorSelect"
						ng-init="color = colorOptions[1]"
						ng-model="color"
						ng-options="option.name for option in colorOptions"
					></select>

			</div>
			<!-- TODO: brick height<input ng-model="brickHeight" placeholder="height" type="number"> -->


			<!-- Brick Origin TODO: add onhover instructions-->
			<div class="form-element" id="origin" class="dropbox" slot="true">
	            <div class="brick" itemid="{{origin.id}}" brick="true">
	            	<div
	            		class="left-peg peg"
	            		ng-repeat="t in getPegs(originWidth) track by $index"
	            		style="background-color:{{color.value}}"
	            	></div>
	            	<div
	            		class="block"
	            		style="background-color:{{color.value}}; width:{{originWidth * singleWidth}}px"
	            	></div>
	            </div>
	        </div>
		</div>

        <!-- usage of the DropTarget/grid directive -->
        <div id="flex_container">
	        <div ng-repeat="(key, square) in grid">
		        <div
		        	id="{{key}}"
		        	style="width: {{singleWidth}}px"
		        	class="dropbox"
		        	slot="true"
		        >
	            	<div class="brick" brick="true">
	      				<span ng-show="square.color">
		            		<div
		            			class="block"
		            			style="background-color:{{square.color}}; width:{{square.width}};"
		            		>
		            			<div
		            				class="left-peg"
		            				style="background-color:{{square.color}}"
		            				ng-repeat="t in getPegs(square.pegCount) track by $index"
		            			></div>
		            			{{square.label}}
		            		</div>
		            	</span>
	            	</div>
		        </div>
		    </div>
		</div>
	</div>
</body>
</html>


