#main {
            width: 1000px;
            min-height: 200px;
            position: relative;
        }

#items {
    left: 222px;
}

.dropbox {
}

#items, .dropbox {
    display: inline-block;
    float: left;
    /*position: absolute;*/
    /*border: 1px solid black;*/
    width: 96px;
    min-height: 46px;
}
.right-peg, .left-peg{
    z-index: -1; /*Makes pegs go behind bricks above*/
    position: relative;
    top: -13px;
    display: inline;
    border-right: 3px solid black;
    border-left: 5px solid black;
    border-top: 1px solid black;
    width: 17px;
    height: 11px;
    margin-right: 10px;
    margin-left: 10px;

}
.right-peg{
    float: right;
}
.left-peg{
    float: left;

}
.inlinePlease{
    float: left;
}

div.item {
    float: left;
    min-width: 94px;
    min-height: 44px;
    /*border: 2px solid rgb(5,161,245);*/
    /*margin: 10px;*/
    /*border: 1px solid black;*/
    cursor: pointer;
    font-weight: bold;
}
.block{
    min-width: 96px;
    min-height: 46px;
}
#flex_container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}